
.navbar-nav {
  width: 90px;
}

.bg-light{
background-color: #ff5500 !important;
}/*still working on it*/

.navbar-nav > .nav-item{
	color: #fc4628;
}

.hr{
	color: black;
}

.text-justify{
	font-family: Roboto;
}



/*Nav:#ff5500 / #fc4628*/